__pycache__/
*.pyc
*.pyo
.git/
*.egg-info/
conda_envs/
results/
*.pkl
*.pt
.vscode/
.claude/
graph_builder/__pycache__
logs/
utils/__pycache__
curvature_output/PPNet_*
curvature_output/GGNet_*
.env
model/__pycache__
model/model_tester.py
all_model_results/
misc/
model_results_*/
.claude/
GNN Architecture.jpeg
DriverJinn Data Preprocessing.jpeg
CLAUDE.md
*.tar.gz
*.docx
*.pdf
WORKFLOW.md
Downstream/cosmic/
Downstream/plots
Downstream/Data-preprocessing.jpeg
*.svg
.gitignore
.gitattributes