__pycache__/
*.pyc
*.pyo
.git/
*.egg-info/
conda_envs/
results/
*.pkl
*.pt
.vscode/
.claude/
graph_builder/__pycache__
logs/
utils/__pycache__
gnn.tar.gz
output.tar.gz
curvature_output/PPNet_*
curvature_output/GGNet_*
.env
model/__pycache__
model/model_tester.py
all_model_results/
results.tar.gz
misc/
model_results/
.claude/
search.tar.gz
GNN Architecture.jpeg
DriverJinn Data Preprocessing.jpeg
CLAUDE.md